build
*.pyc
__pycache__/
*.log
*.swp
*.swo
*.DS_Store
.vscode/
.idea/
.env
*.env
*.bak
*.tmp
*.out
*.o
*.a
*.so
*.bin
*.elf
*.map
*.hex
*.exe
*.zip
*.tar
*.gz
*.7z
*.orig
*.patch
*.rej
*.user
*.sublime-workspace
*.sublime-project
*.code-workspace
*.cproject
*.project
*.settings/
*.ipynb_checkpoints/
test/
tests/
doc/
docs/
dist/
node_modules/